### 문자열을 숫자로 바꾸기

In [1]:
#int()함수 활용하기

string_a=input("입력A> ")
int_a=int(string_a)

string_b=input("입력B> ")
int_b=int(string_b)

print("문자열 자료:", string_a + string_b)
print("숫자 자료:", int_a + int_b)

입력A> 273
입력B> 52
문자열 자료: 27352
숫자 자료: 325

In [2]:
#int()함수와 float()함수 활용하기
output_a = int("52")
output_b = float("52.273")

print(type(output_a), output_a)
print(type(output_b), output_b)

<class 'int'> 52
<class 'float'> 52.273

In [3]:
#int()함수와 float()함수 조합하기

input_a = float(input("첫 번째 숫자>"))
input_b = float(input("두 번째 숫자>"))

print("덧셈 결과:", input_a + input_b)
print("뺄셈 결과:", input_a - input_b)
print("곱셈 결과:", input_a * input_b)
print("나눗셈 결과:", input_a / input_b)

첫 번째 숫자>273
두 번째 숫자>52
덧셈 결과: 325.0
뺄셈 결과: 221.0
곱셈 결과: 14196.0
나눗셈 결과: 5.25

#### ValueError 예외

1. 숫자가 아닌 것을 숫자로 변환하려고 할 때
2. 소수점이 있는 숫자 형식의 문자열을 int() 함수로 변환하려고 할 때

### 숫자를 문자열로 바꾸기

In [4]:
#str() 함수를 사용해 숫자를 문자열로 변환하기

output_a = str(52)
output_b = str(52.273)
print(type(output_a), output_a)
print(type(output_b), output_b)

<class 'str'> 52
<class 'str'> 52.273

### inch 단위를 cm 단위로 변경하기

In [7]:
# 숫자를 입력받습니다.
raw_input = input("inch 단위의 숫자를 입력해주세요: ")

# 입력받은 데이터를 숫자 자료형으로 변형하고, cm 단위로 변경합니다.
inch = int(raw_input)
cm = inch * 2.54

#출력합니다.
print(inch, "inch는 cm 단위로", cm, "cm입니다.")

inch 단위의 숫자를 입력해주세요: 27
27 inch는 cm 단위로 68.58 cm입니다.

In [10]:
a=input("숫자")
b=int(a)

print()
print(b, "inch")
print((b * 2.54), "cm")

숫자20

20 inch
50.8 cm

In [12]:
a = input("문자열 입력> ")
b = input("문자열 입력> ")

print(a,b)

a,b = b,a

print(a,b)

문자열 입력> 안녕하세요
문자열 입력> 아침입니다
안녕하세요 아침입니다
아침입니다 안녕하세요