# 함수
## 1. 사람 또는 사물의 기능
## 2. 숫자나 문자열과 같은 자료도 컴퓨터에서는 하나의 사물처럼 취급된다.

### *문자열의 format() 함수

In [3]:
#  format() 함수로 숫자를 문자열로 변경하기

string_a = "{}".format(10)

string_a
type(string_a)

str

In [5]:
#  format() 함수의 다양한 형태

format_a="{}만 원".format(5000)
format_b="파이썬 열공하여 첫 연봉  {}만 원 만들기".format(5000)
format_c="{} {} {}".format(3000, 4000, 5000)
format_d="{} {} {}".format(1, "문자열", True)

print(format_a)
print(format_b)
print(format_c)
print(format_d)

5000만 원
파이썬 열공하여 첫 연봉  5000만 원 만들기
3000 4000 5000
1 문자열 True

In [9]:
#  정수를 특정 칸에 출력하기

output_a="{:d}".format(52)

output_b="{:5d}".format(52)
output_c="{:10d}".format(52)

output_d="{:05d}".format(52)
output_e="{:05d}".format(-52)


print(output_a)
print(output_b)
print(output_c)
print(output_d)
print(output_e)

52
   52
        52
00052
-0052

In [10]:
# 기호 붙여 출력하기
output_f = "{:+d}".format(52)
output_g = "{:+d}".format(-52)
output_h = "{: d}".format(52)
output_i = "{: d}".format(-52)

print(output_f)
print(output_g)
print(output_h)
print(output_i)

+52
-52
 52
-52

In [11]:
# 조합해 보기

output_h = "{:+5d}".format(52)
output_i = "{:+5d}".format(-52)
output_j = "{:=+d}".format(52)
output_k = "{:=+d}".format(-52)
output_l = "{:+05d}".format(52)
output_m = "{:+05d}".format(-52)

print(output_h)
print(output_i)
print(output_j)
print(output_k)
print(output_l)
print(output_m)

  +52
  -52
+52
-52
+0052
-0052

In [13]:
# 다양한 형태의 부동 소수점 출력하기

output_a = "{:f}".format(52.273)
output_b= "{:15f}".format(52.273)
output_c = "{:+15f}".format(52.273)
output_d = "{:+015f}".format(52.273)

print(output_a)
print(output_b)
print(output_c)
print(output_d)

52.273000
      52.273000
     +52.273000
+0000052.273000

In [14]:
# 소수점 아래 자릿수 지정하기

output_a = "{:15.3f}".format(52.273)
output_b= "{:15.2f}".format(52.273)
output_c = "{:15.1f}".format(52.273)

print(output_a)
print(output_b)
print(output_c)

         52.273
          52.27
           52.3

In [15]:
# 의미 없는 소수점 제거하기

output_a = 52.0
output_b= "{:g}".format(output_a)
print(output_a)
print(output_b)

52.0
52

### 대소문자 바꾸기: upper()와 lower()

In [16]:
a = "Hello Python Programming...!"
a.upper()

'HELLO PYTHON PROGRAMMING...!'

In [17]:
a.lower()

'hello python programming...!'

### *문자열 양옆의 공백 제거하기: strip()

In [21]:
input_a = """
    안녕하세요
문자열의 함수를 알아봅니다
"""
print(input_a)

    안녕하세요
문자열의 함수를 알아봅니다

In [24]:
print(input_a.strip())

안녕하세요
문자열의 함수를 알아봅니다

### 문자열의 구성 파악하기: isOO()

In [29]:
print("TrainA10".isalnum())

True

In [28]:
print("10".isdigit())

True

### 문자열 찾기: find()와 rfind()

In [30]:
output_a="안녕안녕하세요".find("안녕")
print(output_a)

0

In [31]:
output_b="안녕안녕하세요".rfind("안녕")
print(output_b)

2

### 문자열과 in 연산자

In [32]:
print("안녕" in "안녕하세요")

True

In [33]:
print("잘자" in "안녕하세요")

False

### *문자열 자르기: split()

In [34]:
a = "10 20 30 40 50".split(" ")
print(a)

['10', '20', '30', '40', '50']

### *f-문자열
* 파이썬 3.6버전부터 등장한 format() 함수를 더 간단하게 사용할 수 있는 함수
* f"문자열{표현식}문자열"

In [38]:
# format()함수와 비교

"{}".format(10)

'10'

In [39]:
f'{10}'

'10'

In [43]:
"3 + 4 = {}".format(3 + 4)

'3 + 4 = 7'

In [41]:
f"3 + 4 = {3 + 4}"

'3 + 4 = 7'

In [44]:
f"""1 + 2 ={1 + 2}
2 + 3 = {2 + 3}
3 + 4 = {3 + 4}"""

'1 + 2 =3\n2 + 3 = 5\n3 + 4 = 7'

#### f-문자열보다 format() 함수를 사용하는 것이 더 좋은 경우
1. 문자열 내용이 너무 많을 때
2. 데이터를 리스트에 담아서 사용할 때

In [45]:
name = "홍길동"
age = 25
print(f"이름: {name}, 나이: {age}")

이름: 홍길동, 나이: 25

In [46]:
# 여러 변수와 복잡한 문자열 포맷팅
name = "홍길동"
age = 25
address = "서울시 강남구"
phone = "010-1234-5678"

message = "이름: {}, 나이: {}, 주소: {}, 연락처: {}".format(
    name, age, address, phone
)
print(message)

이름: 홍길동, 나이: 25, 주소: 서울시 강남구, 연락처: 010-1234-5678

In [48]:
data = ['별', 2, 'M', '서울특별시 강서구', 'Y']
f"""이름: {data[1]}
나이: {data[2]}
성별: {data[3]}
중성화 여부: {data[4]}"""

'이름: 2\n나이: M\n성별: 서울특별시 강서구\n중성화 여부: Y'

In [ ]:
# 리스트 요소를 한꺼번에 출력가능

In [50]:
data = ['별', 2, 'M', '서울특별시 강서구', 'Y']
"""이름: {}
나이: {}
성별: {}
지역: {}
중성화 여부: {}""".format(*data)

'이름: 별\n나이: 2\n성별: M\n지역: 서울특별시 강서구\n중성화 여부: Y'

In [112]:
# 구의 부피와 겉넓이

pi=3.141592
r=int(input("구의 반지름을 입력해주세요: "))
print(f"= 구의 부피는{round(((4/3)*pi)*(r**3))}입니다")
print(f"= 구의 겉넓이는{round((4*pi)*(r**2))}입니다")

구의 반지름을 입력해주세요: 8156
= 구의 부피는2272585180219입니다
= 구의 겉넓이는835919022입니다

In [113]:
# 피타고라스의 정리


bottom_side=int(input("밑변의 길이를 입력해주세요:"))
height=int(input("높이의 길이를 입력해주세요:"))
print(f"= 빗변의 길이는{round(((bottom_side**2)+(height**2))**(1/2))}입니다.")

밑변의 길이를 입력해주세요:216859189
높이의 길이를 입력해주세요:2189
= 빗변의 길이는216859189입니다.